<!-- include head template from partials dir -->
<%- include('partials/head') %> 
<body>
    <%- include('partials/navbar') %>
    <h1>I'm sorry, but the <%= subreddit %> subreddit cannot be found</h1>
</body>
<%- include('partials/footer') %>
</html>